@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
  animation: heroBg 20s infinite;
}
@keyframes heroBg {
  0%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-1.jfif);
    background-position: center;
    background-size: cover;
  }
  20%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-2.jfif);
    background-position: center;
    background-size: cover;
  }
  40%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-3.jfif);
    background-position: center;
    background-size: cover;
  }
  60%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-1.jfif);
    background-position: center;
    background-size: cover;
  }
  80%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-2.jfif);
    background-position: center;
    background-size: cover;
  }
  100%{
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(255, 107, 53, 0.2)), url(./image/hero-bg-3.jfif);
    background-position: center;
    background-size: cover;
  }
}
.header h1{
  font-size: clamp(3rem, 8vw, 6rem);
}